{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Select Algorithm{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <form id="select-algorithm-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{{ form.non_field_errors }}</p>

      <h3>Select Algorithm for Analysis</h3>
      <hr width="100%">

      {% if form.field.errors %}
        {{ form.field.errors }}
      {% endif %}

      {% for choice in form.choice_field.field.choices %}
      <center>
      <p>
        <label for="id_choice_field_%d" % forloop.counter class="algo-name">{{ choice.1 }}</label>
        <span class="algo-check" style="display: inline;">
          <input id="id_choice_field_%d" % forloop.counter type="checkbox" name="choice_field" value={{ choice.0 }} style="display: inline;"/>
        </span>
      </p>
      </center>
      {% endfor %}

      <br>
      <p>Note: Select multiple to compare</p>
      <p><input class="btn btn-block btn-success" type="submit" value="Submit" /></p>
    </form>
  </div>

  <div class="col-md-4"></div>
</div>

{% endblock %}
