{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ analysis_type | title }} Time Analyzer {% endblock %}
{% block content %}
<center>
  <h1>{{ analysis_type | title }} Time Analyzer</h1>
  <h3>Varying Data File Size</h3>
</center>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <hr>

    <form id="file-upload-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <h4>Select Files</h4>
      <span>Note: You can select file types varying in (Audio, Video, Text and Images).</span>

      <p>{{ form.non_field_errors }}</p>
      {% for field in form %}
        <p style="display: inline;">{{ field.label_tag }}</p>
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
        <p class="btn btn-default">
          {{ field }}
        </p>
        <br>
        <br>
      {% endfor %}

      <hr>

      <h4>Enter Key</h4>
      <p>
      <label for="key">Key : </label>
      <input class="key" name="key" type="text" class="text" maxlength={{ keylen }} required>
      </p>

      <br>
      <br>

      <p><input class="btn btn-block btn-success" type="submit" value="Upload" /></p>
    </form>

  </div>
  <div class="col-md-3"></div>
</div>

{% endblock %}
